* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.vsm-anchor {
    font-family: 'raleway';
    font-weight: 600;
    cursor: pointer;
    color: blue;
}


.courosal-btn {
        background-color: #fff;
        color: #138808;
        text-decoration: none;
        padding: 17px 45px;
        margin-top: 25px;
        display: inline-block;
        font-size: 14px;
        position: relative;
        overflow: hidden;
    
}
.courosal-btn:hover {
    color: #fff;
}

.courosal-btn:after {
    content: "Read More";
    background-color: #138808;
    width: 0%;
    font-size: 15px;
    height: 100%;
    line-height: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    right: 0;
}

.courosal-btn :hover:after {
    width: 100%;
}